article {
    @include rebase-headings(1.25,1.25);
    @include breakpoint($large) {
        @include rebase-headings();
        &.archive {
            @include rebase-headings(1.5,2);
        }
    }

    @include trailer;
    margin: gutter();

    h1,h2,h3,h4,h5,h6 {
        color: color-for(title);
        a {
            color: color-for(title);
        }
    }

    aside {
        color: color-for(aside);
        background-color: color-for(aside-bg);
    }
}
