@import "susy";
@import "breakpoint";

$desktop: 800px;

$susy: (
    columns: 12,
    gutters: 1/4,
    column-width: 4em,
    global-box-sizing: border-box,
    gutter-position: inside-static,
);

//$mobile: layout( $susy );

%single-transition {
  @include single-transition(all, .3s, ease, 0s);
}

