.comments {
    @include get_layout(comments small);
    @include breakpoint($large) {
        @include get_layout(comments large);
        @include push(1);
   }

    @include leading-border(1px, 1);
    header {
        //@include pull(1);
        @include pre(0);
        @include prefix(0);
    }
}

.comment {    
    clear: both;
    @include nested(9) {
        @include breakpoint($large) {
            > header {
                @include span(3 narrow);
            }
            
            .main {
                @include span(6 narrow last);
            }
        }
    }
    &.pending {
        opacity: 0.6;
        background-color: tint(color-for(container-bg), 25);
    }
}