$form: layout( (1 2) .25 4em );

form {
    clear: both;
    background-color: shade(color-for(container-bg), 10);
    margin:auto;
    position:relative;
    //font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    padding: gutter();

    fieldset {
        @include container( $form );
    }

    @include nested( (1 2) ) {
        label {
            //@include span-columns(1, $content-columns);
            @include span(1 of (1 2));
        }
        input:not([type=submit]),textarea {
            //@include span-columns($content-columns - 1 omega, $content-columns);
            width: 200px;
            border: 1px solid shade(color-for(container-bg), 50);
            @include pull(10%);
        }
        textarea {
            display: block;
            width: 350px;
            height: 15em;
            clear: both;
            margin: gutter();
        }
        li {
            //clear: both;
            .hint {
                @include gutter;
                font-style: italic;
                color: color-for(meta);
            }
        }
        #botGuard {
            display: none;
        }
    }
}