form {
    clear: both;
    background-color: shade(color-for(container-bg), 10);
    margin:auto;
    position:relative;
    //font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    padding: gutter();

    label {
        //@include span-columns(1, $content-columns);
    }
    input,textarea {
        //@include span-columns($content-columns - 1 omega, $content-columns);
        width: 25em;
        border: 1px solid shade(color-for(container-bg), 50);
    }
    textarea {
        display: block;
        width: 40em;
        height: 15em;
    }
    li {
        //clear: both;
        .hint {
            @include gutter;
            font-style: italic;
            color: color-for(meta);
        }
    }
    #botGuard {
        display: none;
    }
}