body {
    height: 100%;
}

/*
#container {
    @include container();
    height: 100%;
    height: auto !important;
    min-height: 100%;
    > footer {
        position: relative;
        margin-top: -101px;
        clear: both;
    }
}
*/

nav { 
    //@include full; 
}

[class^="inner"] {
    overflow: hidden;
    height: 100%;
}

.inner-content {
    display: table;
    height: 100%;
    height: auto;
    padding-bottom: 100px;
}


[role="navigation"] {
    @extend %single-transition;

    @include leader;
    @include span(6);
    //display: table-cell;
    height: 100%;

    // If JavaScript is present, hide this section off-canvas
    .js & {
        margin-left: -100%;
        float: left;
        z-index: 2;
    }
    
    .active & {
        margin-left: 0;
    }

    @include breakpoint($desktop) {
        @include span(3);
        .js & {
            margin-left: 0;
        }
    }
}

@include breakpoint($desktop) {
        #sidebar_button {
            display: none;
        }
}


/*
#main-container {
    //height: 100%;
    //display: table-cell;

    @include gutters(1);
    @include squish(25%);
    @include span(full narrow);
    
    @include breakpoint($desktop) {
        @include span(8 wide last);
    }
}
*/

#sidebar_button {
  position: relative;
  padding-left: 1.25em;
}

article {
    footer .read-more {
        text-align: right;
    }
    /*
    @include breakpoint($desktop) {
        > header {
            @include span(9 narrow);
            time {
                @include leader;
                @include span(3);
            }
        }
        section.main {
            @include leader(-1);
            @include span(9 last); 
        }
        > footer {
            @include span(9 last);
        }
    }*/
}

