$primary-3: #053d4a;
$complement-3: #773f08;

$primary-1 : #20798E;
$primary-2 : #2E545D;
$primary-3 : #053D4A;
$primary-4 : #6BC5DB;
$primary-5 : #99CEDB;

$complement-1 : #E5892F;
$complement-2 : #966F48;
$complement-3 : #773F08;
$complement-4 : #F7B575;
$complement-5 : #F7D0AA;

$scheme-base : (
    accent      : $complement-1,
    banner-bg   : $primary-3,
    banner-fg   : $primary-4,
    body-bg     : tint($complement-5,75),
    container   : $primary-3,
    container-bg: tint($complement-5,25),
    link        : adjust-lightness($primary-1, 15), 
    title       : $complement-2,
    debug       : #aa3333,
);

$scheme-derived : (
    pre-bg   : tint(map-get($scheme-base, container-bg), 25),
    aside    : tint(map-get($scheme-base, container), 25),
    aside-bg : tint(map-get($scheme-base, container-bg), 25),
    block    : adjust-saturation(map-get($scheme-base, container), -20),
    block-bg : map-get($scheme-base, container-bg),
    header   : tint(map-get($scheme-base, title), 20),
    meta     : scale-saturation(scale-lightness(map-get($scheme-base, container), -50), -50),
    comment-form-bg :  shade(map-get($scheme-base, container-bg), 10),
    notice-bg: adjust-lightness(map-get($scheme-base, accent), 25),
    error-bg : adjust-lightness(map-get($scheme-base, accent), 25),
);

$scheme : map-merge($scheme-base, $scheme-derived);

@function color-for($element) {
    @return map-get($scheme, $element);
}

a {
    color: color-for(link);
}

body {
    background-color: color-for(body-bg);
}

#main-container {
    background-color: color-for(container-bg);
    color: color-for(container-text);
}


.nav-container a {
        color: color-for(title);
}


time {
    color: color-for(meta);
}

blockquote {
    color: color-for(block);
    background-color: color-for(block-bg);
    border: 1px color-for(accent);
    border-style: none none none solid;
}

pre {
    background-color: color-for(pre-bg);
}

header {
    color: color-for(header); 
}

table {
    border-top: 1px solid color-for(accent);
    border-bottom: 1px solid color-for(accent);
}

aside {
    color: color-for(aside);
    background-color: color-for(aside-bg);
}

@import "partials/solarized";
@import "partials/pygments";