$base-font-size   : 16px;
$base-line-height : 24px;

@include establish-baseline;

@function susy-global($key) {
    @return map-get($susy, $key);
}

@import url(http://fonts.googleapis.com/css?family=Anonymous+Pro:400,700,400italic);
            //@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic);

            $sans: "Helvetica Neue", "Lato", sans-serif;
$serif: "Georgia", serif;
$mono: 'Anonymous Pro', Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace !default;

$title-font-family: $serif;
$body-font-family: $sans;
$code-font-family: $mono; 

@mixin rebase-headings($multiplier: 3, $line-height: 2) {
    $heading: 1;
    @while $heading <= 6 {
        h#{$heading} {
            @include adjust-font-size-to($base-font-size * $multiplier, $lines:$line-height);
        }
        $multiplier: $multiplier - 0.5;
        $heading: $heading + 1;
        $line-height: $line-height - ( 1 / 6 );
    }
}


body {
    font-family: $body-font-family;
    text-decoration: none;
}

a {
    text-decoration: none;
}

sub, sup {
    /* Specified in % so that the sup/sup is the
       right size relative to the surrounding text */
    font-size: 75%;
    
    /* Zero out the line-height so that it doesn't
       interfere with the positioning that follows */
    line-height: 0;
    
    /* Where the magic happens: makes all browsers position
       the sup/sup properly, relative to the surrounding text */
    position: relative;
    
    /* Note that if you're using Eric Meyer's reset.css, this
       is already set and you can remove this rule */
    vertical-align: baseline;
}

sup {
    /* Move the superscripted text up */
    top: -0.5em;
}

sub {
    /* Move the subscripted text down, but only
       half as far down as the superscript moved up */
    bottom: -0.25em;
}

em {
    font-style: italic;
}

#recent_posts {
    @include adjust-font-size-to(10pt);
}

header {
    p {
        @include gutters();
        font-weight: bold;
        @include trailer(0);
    }
}

h1,h2,h3,h4,h5,h6 {
    font-family: $title-font-family;
}

code {
    font-family: $code-font-family;
}


p {
    @include trailer;
}

/* meta data */
time {
    font-style: italic;
}

.copyright {
    text-align: center;
    @include adjust-font-size-to(10pt);
}

span[property="dct:title"] {
    font-style: italic;
}


