---
title: #!dkm
---

- sorted_articles.each do |post|
  - if post[:published]
    %article
      %header
        %h1 
          = link_to(post[:title], post.path)
        Posted at: 
        %time{:pubtime => true, :datetime => pub_datetime(post)}
          = pretty_date(post)

      = post_start(post)
