#comment_form
  %form{:name=> 'comments', :method => 'POST', :action => "#{@config['action_url']}/assets/commentsubmit.php"}
    %h1
      Leave a Comment
    %input{:type => 'hidden', :name => 'post_id', :value => "#{item.identifier}"}
    %input{:type => 'hidden', :name => 'return_url', :value => "#{url_for(item)}"}

    #botGuard
      %label{:for =>'foo_name'} Leave this blank. It is to fool the Bots!
      %input{:type => 'text', :name => 'foo_name'}

    %fieldset
      %ol
        %li
          %label{:for => "name"} Name:
          %input{:type => "text", :name => "name", :class => "text"}
        %li
          %label{:for => "email"} E-Mail*:
          %input{:type => "email", :name => "email", :class => "text", :placeholder => "optional"}
          .hint
            Will not be published
        %li
          %label{:for => "website"} Website:
          %input{:type => 'url', :name => 'website', :class => 'text', :placeholder => 'http://'}
        %li
          %label{:for => "comment"} Message:
          %textarea{:name => "comment"}              
      = blurb.compiled_content
      %input{:type => "submit", :value => "Send", :class => "button"}
