- render 'default' do
  .post
    %h1 #{item[:title]}
    %aside Posted at: #{get_pretty_date(item)}
    %article
      = find_and_preserve(yield)

  .social 
    = link_to('Tweet', 'https://twitter.com/share', :class => 'twitter-share-button', 'data-via'.to_sym => 'hazybluedot') 
    %script 
      :plain
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script', 'twitter-wjs');

