// This import applies a global reset to any page that imports this stylesheet.
@import "compass";
@import "compass/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";
@import "partials/bars";
@import "partials/typography";

@mixin susy-grid-background {
    @include grid-background($total-cols, $col-width, $gutter-width, $base-line-height, $side-gutter-width, $force-fluid: true);
}

@mixin full {
    @include span-columns($total-columns);
}

// extend this class to show your grid.
.grid {
    @include susy-grid-background;
}

body {
    @extend %light;
    a {
        text-decoration: none;
    }

    #container {
        @include container;
        @include clearfix;
        //@extend .grid;
        >header, >footer {
            @include bars($base03);
            @include full;
            @include trailer;
            //@include rem(padding-top, 10px);
            a {
                &:hover { text-decoration: none; }
            }
            h1,h2 {
                color: $base1;
                padding-right: 1em;
            }
            h1 {
                @include adjust-font-size-to($base-font-size * 2, $lines:2);
            }                
            p {
                @include adjust-font-size-to($base-font-size * 1, $lines:1);
                font-style: italic;
                @include trailer;
            }
        }

        %sidenav {
            @include leader;
            h1 {
                @include adjust-font-size-to($base-font-size * 1.5, $lines:1);
            }
            // One third of the grid columns, rounding down. With 24 cols, this is 8.
            $sidebar-columns: floor($total-columns / $column-divisor);
            @include span-columns($sidebar-columns);
        }

        nav {
            @extend %sidenav;
            @include accentize($orange);
        }
    /*
      nav#about {
      @include full;
      ul {
      @include horizontal-list;
      }
      @include accentize($orange);
      }
      */
    }
}

article {
    aside {
        float: left;
        $sidebar-columns: floor($total-columns / $column-divisor);
        @include pull($sidebar-columns);
        @include span-columns($sidebar-columns);
    }
}

h1,h2,h3,h4 {
    clear: both;
}

figure {
    float: left;
    padding: 3px 3px 3px 3px;
    margin: 0px 10px 0px 0px;
    display: table;
    img {
        display: block;
    }
    figcaption {
        display: table-caption;
        caption-side: bottom;
        font-style: italic;
        padding: 3px 3px 3px 3px;
    }
}

main {
    @include span-columns($content-columns omega);
}

%alert {
    @include border-radius(5px);       
    padding: .75em;
    @include leader;
    @include trailer;
}

@mixin alert_box($color) {
    @extend %alert;
    background: lighten($color, 50%);
    @include single-box-shadow($color);
    
}

.notice {
    @include alert_box($yellow);
}

.error {
    @include alert_box($red);
}

.twitter_image_text {
    img {
        vertical-align: middle;
    }
}

@import "partials/article";
@import "partials/forms";
@import "partials/solarized";
