// This import applies a global reset to any page that imports this stylesheet.
@import "compass";
@import "compass/reset";

@import "compass/css3";
@import "compass/utilities";
@import "blueprint/typography";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

@mixin susy-grid-background {
    @include grid-background($total-cols, $col-width, $gutter-width, $base-line-height, $side-gutter-width, $force-fluid: true);
}

@mixin full {
    @include span-columns($total-columns);
}

// extend this class to show your grid.
.grid {
    @include susy-grid-background;
}

@include establish-baseline;

// If you are doing a lot of stylesheet concatenation, it is suggested
// that you scope your blueprint styles, so that you can better control
// what pages use blueprint when stylesheets are concatenated together.
body.bp {
    //@include blueprint-typography(true);
}

form.bp {
    //@include blueprint-form;
    // You'll probably want to remove the scaffolding once you start styling your site.
    // @include blueprint-scaffolding;
}

// Page layout can be done using mixins applied to your semantic classes and IDs:
body {
    #container {
        @include container;
        @extend .grid;
        @include clearfix;
    }
    #header, #footer {
        @include span-columns($total-columns);
        height: 40px;
    }
    #sidebar {
        // One third of the grid columns, rounding down. With 24 cols, this is 8.
        $sidebar-columns: floor($total-columns / 3);
        @include span-columns($sidebar-columns);
        @include accentize($orange);
        h1 {
            @include trailer;
            @include leader;
            @include adjust-font-size-to($base-font-size * 1.5, $lines:1);
        }

    }
    #content {
        h1 {
            @include trailer;
            @include leader;
            @include adjust-font-size-to($base-font-size * 2, $lines:1.5);
        }

        p {
            &:first-child {
                @include leader;  
            }
            @include trailer;
            @include full;
        }
        // Two thirds of the grid columns, rounding up.
        // With 24 cols, this is 16.
        $content-columns: ceil(2 * $total-columns / 3);
        // true means it's the last column in the row
        @include span-columns($content-columns omega);
        a { 
            text-decoration: none;
        }
    }
}

article,section {
    padding-top: 20px;
    
    header {
        color: $base01;
        padding-bottom: 8px;
        border-bottom: 1px solid $base0;
        margin-bottom: 8px;
    }
}

span {
    display: inline-block;
}

pre {
    @include border-radius(25px);
    /* font-size: 90%; */
    line-height: 1.2em;
    font-size: em(13px);
    font-family: "Courier 10 Pitch", Courier, monospace; 

    margin-bottom: 1.625em;
    overflow: auto;
    padding: 0.75em 1.625em;

    width: 500pt;

    height:1%;

    display: block;
    clear: both;
}

pre:not([class]) {
    /* color: #555555; */
    font-size: em(16px);
    padding: 1em 1em; 
    margin: auto 40px auto 40px;
    background: #002b36; /* #f4f4f4; */
    border: solid 1px #e1e1e1
} 

code pre:not([class]) { 
    line-height: 1.2em;
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;

    display: inline;
    background: #002b36; 
}

